body {
    background-color:#F1ECEA ;
    font-family: "Schibsted Grotesk", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}


.image_box {
    margin-top: 50px;
}


label {
  
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    
}


button:hover {
    background-color: #5da0ce;
}
.submit {
    font-size: 15px;
    background-color: #a2ac80;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 40%;
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin-top: 20px;

}


  